<%- include('./components/header.ejs') %>

    <%- include('./components/section_header.ejs') %>
    <%- include('./components/section_tabs.ejs') %>
    
    <p>Welcome to <%= title %></p>

            <div class="tpl-switch">
                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" checked="">
                <div class="tpl-switch-btn-view">
                    <div>
                    </div>
                </div>
            </div>

<%- include('./components/footer.ejs') %>
